<a href="https://colab.research.google.com/github/ranesh88/Recommendation-System/blob/main/Item_based_Collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movie = pd.read_csv("movies.csv")

In [ ]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
rating = pd.read_csv("ratings.csv")

In [ ]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
movie_final = pd.merge(movie,rating,on="movieId")

In [ ]:
movie_final.drop(["genres","timestamp"],axis=1,inplace=True)

In [ ]:
movie_final.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [ ]:
movie_final.shape

(100004, 4)

In [ ]:
movie_user_matrix = movie_final.pivot_table(index="userId",columns="title",values="rating")

In [ ]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
movie_user_matrix.fillna(0,inplace=True)

In [ ]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
movie_watched = movie_user_matrix["Toy Story (1995)"]
movie_watched

userId
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
667    0.0
668    0.0
669    0.0
670    4.0
671    5.0
Name: Toy Story (1995), Length: 671, dtype: float64

In [ ]:
similarity_scores = movie_user_matrix.corrwith(movie_watched)
similarity_scores

title
"Great Performances" Cats (1998)            -0.032411
$9.99 (2008)                                -0.018494
'Hellboy': The Seeds of Creation (2004)      0.040978
'Neath the Arizona Skies (1934)             -0.028157
'Round Midnight (1986)                       0.037176
                                               ...
xXx (2002)                                   0.112633
xXx: State of the Union (2005)               0.060730
¡Three Amigos! (1986)                        0.149133
À nous la liberté (Freedom for Us) (1931)    0.050854
İtirazım Var (2014)                         -0.028157
Length: 9064, dtype: float64

In [ ]:
similarity_scores.sort_values(ascending=False).head(10)

title
Toy Story (1995)                              1.000000
Toy Story 2 (1999)                            0.474141
Bug's Life, A (1998)                          0.393799
Groundhog Day (1993)                          0.372371
Monsters, Inc. (2001)                         0.366277
Independence Day (a.k.a. ID4) (1996)          0.356876
Finding Nemo (2003)                           0.348941
Incredibles, The (2004)                       0.346066
Shrek (2001)                                  0.344068
Willy Wonka & the Chocolate Factory (1971)    0.320002
dtype: float64