<a href="https://colab.research.google.com/github/ranesh88/Recommendation-System/blob/main/User_based_Collaborative_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movie = pd.read_csv("movies.csv")

In [ ]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
rating = pd.read_csv("ratings.csv")

In [ ]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
movie_final = pd.merge(movie,rating,on="movieId")

In [ ]:
movie_final.drop(["genres","timestamp"],axis=1,inplace=True)

In [ ]:
movie_final.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [ ]:
movie_final.shape

(100004, 4)

In [ ]:
movie_final["rating"].hist()

In [ ]:
movie_user_matrix = movie_final.pivot_table(index="userId",columns="title",values="rating")

In [ ]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
movie_user_matrix.fillna(0,inplace=True)

In [ ]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import operator

In [ ]:
def similar_users(user_id, matrix, k=3):
    # create a df of just the current user
    user = matrix[matrix.index == user_id]
    
    # and a df of all other users
    other_users = matrix[matrix.index != user_id]
    
    # calc cosine similarity between user and each other user
    similarities = cosine_similarity(user,other_users)[0].tolist()
    
    # create list of indices of these users
    indices = other_users.index.tolist()
    
    # create key/values pairs of user index and their similarity
    index_similarity = dict(zip(indices, similarities))
    
    # sort by similarity
    index_similarity_sorted = sorted(index_similarity.items(), key=operator.itemgetter(1))
    index_similarity_sorted.reverse()
    
    # grab k users off the top
    top_users_similarities = index_similarity_sorted[:k]
    users = [u[0] for u in top_users_similarities]
    
    return users

In [ ]:
current_user = 1
similar_user_indices = similar_users(current_user, movie_user_matrix)
print(similar_user_indices)

[325, 634, 341]

In [ ]:
movie_list = []

In [ ]:
for user in similar_user_indices:
    movies = movie_user_matrix.iloc[user]
    high_rated_movies = movies[movies >= 4]
    movie_list.extend([i for i in high_rated_movies.index])

In [ ]:
movie_set = set(movie_list)

In [ ]:
current_user_movies = movie_user_matrix.iloc[current_user]

In [ ]:
current_user_watched_movies = [i for i in current_user_movies[current_user_movies > 0].index]

In [ ]:
movie_set - set(current_user_watched_movies)

{'12 Angry Men (1957)',
 '2001: A Space Odyssey (1968)',
 'Abyss, The (1989)',
 'African Queen, The (1951)',
 'Airplane! (1980)',
 'Alien (1979)',
 'All That Jazz (1979)',
 'Amadeus (1984)',
 'American History X (1998)',
 'Analyze This (1999)',
 'Annie Hall (1977)',
 'Apocalypse Now (1979)',
 "Bear, The (Ours, L') (1988)",
 'Blues Brothers, The (1980)',
 'Bound (1996)',
 'Boy Who Could Fly, The (1986)',
 "Breakfast at Tiffany's (1961)",
 'Bridge on the River Kwai, The (1957)',
 'Buddy Holly Story, The (1978)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Candidate, The (1972)',
 'Cape Fear (1962)',
 'Cape Fear (1991)',
 'Casablanca (1942)',
 'Cat on a Hot Tin Roof (1958)',
 'Charade (1963)',
 "Charlotte's Web (1973)",
 'Chasing Amy (1997)',
 "Cheech and Chong's Up in Smoke (1978)",
 'Chinatown (1974)',
 'Christmas Story, A (1983)',
 'Citizen Kane (1941)',
 'Clockwork Orange, A (1971)',
 'Color Purple, The (1985)',
 'Cool Hand Luke (1967)',
 'Crimes and Misdemeanors (1989)',
 'Dave (1993)',
 'Dead Man Walking (1995)',
 'Deliverance (1972)',
 'Dial M for Murder (1954)',
 'Driving Miss Daisy (1989)',
 'E.T. the Extra-Terrestrial (1982)',
 'Edward Scissorhands (1990)',
 'Elephant Man, The (1980)',
 'Exorcist, The (1973)',
 'Eyes Wide Shut (1999)',
 'Fargo (1996)',
 'Father of the Bride (1950)',
 'Fearless (1993)',
 "Ferris Bueller's Day Off (1986)",
 'Few Good Men, A (1992)',
 'French Connection, The (1971)',
 'Fried Green Tomatoes (1991)',
 'From Here to Eternity (1953)',
 'Full Metal Jacket (1987)',
 'Gaslight (1944)',
 'Ghosts of Mississippi (1996)',
 'Giant (1956)',
 'Godfather, The (1972)',
 'Godfather: Part II, The (1974)',
 'Gone with the Wind (1939)',
 'Good Will Hunting (1997)',
 'Goodfellas (1990)',
 'Graduate, The (1967)',
 'Great Santini, The (1979)',
 'Grifters, The (1990)',
 'Groundhog Day (1993)',
 'Heaven Can Wait (1978)',
 'Hoop Dreams (1994)',
 'In the Heat of the Night (1967)',
 'Indian in the Cupboard, The (1995)',
 'Indiana Jones and the Last Crusade (1989)',
 "It's a Wonderful Life (1946)",
 'Jaws (1975)',
 'Joy Luck Club, The (1993)',
 'King and I, The (1956)',
 'Kramer vs. Kramer (1979)',
 'L.A. Confidential (1997)',
 'Last Picture Show, The (1971)',
 'Lawrence of Arabia (1962)',
 'Leaving Las Vegas (1995)',
 'Lifeboat (1944)',
 'Lone Star (1996)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Manchurian Candidate, The (1962)',
 'Melvin and Howard (1980)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Metropolitan (1990)',
 'Midnight Cowboy (1969)',
 'Midnight Run (1988)',
 'Mr. Smith Goes to Washington (1939)',
 'Mutiny on the Bounty (1935)',
 'My Cousin Vinny (1992)',
 'My Left Foot (1989)',
 "National Lampoon's Vacation (1983)",
 'North by Northwest (1959)',
 'October Sky (1999)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Out of Africa (1985)',
 'Patton (1970)',
 'People vs. Larry Flynt, The (1996)',
 'Philadelphia Story, The (1940)',
 'Places in the Heart (1984)',
 'Planet of the Apes (1968)',
 'Platoon (1986)',
 'Player, The (1992)',
 'Postman, The (Postino, Il) (1994)',
 'Princess Bride, The (1987)',
 'Psycho (1960)',
 'Raging Bull (1980)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Rain Man (1988)',
 'Random Hearts (1999)',
 'Rear Window (1954)',
 'Rebel Without a Cause (1955)',
 'Red Rock West (1992)',
 'Reservoir Dogs (1992)',
 'Right Stuff, The (1983)',
 'Rock, The (1996)',
 'Rocky (1976)',
 'Roman Holiday (1953)',
 'Rope (1948)',
 'Saving Private Ryan (1998)',
 'Say Anything... (1989)',
 'Searching for Bobby Fischer (1993)',
 'Shakespeare in Love (1998)',
 'Shall We Dance? (Shall We Dansu?) (1996)',
 'Shawshank Redemption, The (1994)',
 "Singin' in the Rain (1952)",
 'Sliding Doors (1998)',
 'Sling Blade (1996)',
 'Sneakers (1992)',
 'Somewhere in Time (1980)',
 'Splash (1984)',
 'Stand and Deliver (1988)',
 'Stand by Me (1986)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Sting, The (1973)',
 'Story of Us, The (1999)',
 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 'Terms of Endearment (1983)',
 'Thin Red Line, The (1998)',
 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 'Three Days of the Condor (3 Days of the Condor) (1975)',
 'To Catch a Thief (1955)',
 'Toy Story 2 (1999)',
 'Treasure of the Sierra Madre, The (1948)',
 'Two Jakes, The (1990)',
 "Ulee's Gold (1997)",
 'Unbearable Lightness of Being, The (1988)',
 'Unbreakable (2000)',
 'Unforgiven (1992)',
 'Verdict, The (1982)',
 'Vertigo (1958)',
 'West Side Story (1961)',
 "What's Eating Gilbert Grape (1993)",
 'When Harry Met Sally... (1989)',
 'When We Were Kings (1996)',
 'Who Framed Roger Rabbit? (1988)',
 "Who's Afraid of Virginia Woolf? (1966)",
 'Willy Wonka & the Chocolate Factory (1971)',
 'Wizard of Oz, The (1939)',
 'Young Frankenstein (1974)'}